@import "./utils/variables";
@import "./layouts/menu";

body {
    margin: auto;
}

header, footer, .prochainement {
    background-color: #579c87;
    color: #fdcb46;
    font-family: "Montserrat";
}

a {
    text-decoration: none;
    color: $color-text-primary;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    font-size: 25px;
}

.mention { 
    padding-left: 15px;
    padding-top: 5px;
}

.Contact {
    padding-right: 15px;
    padding-top: 5px;
}

.Contact, .mention {
    &:hover {
        animation-name: wiggle;
        animation-duration: 500ms;
    }
}

header {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    height: 100px;
    padding-top: 20px;    
}

.menus {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 1024px;
    margin: auto;
}

h1 {
    font-size: 30px;
}

article {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 500px;
    &.menu1 {
        img {
            margin: auto;
            margin-bottom: 0;
            margin-top: 0;;
            width: 50px;
            height: 50px;
        }
        @include box-shadow-menu;
        color: $menu1-text-color;
        background-color: $menu1-background-color;
        font-family: "Segoe Script", cursive;
        font-weight: bold;
        font-size: 30px;
        p {
            font-family: "Segoe Print";
        }
    }
    &.menu2 {
        @include box-shadow-menu;
        color: $menu2-text-color;
        background-color: $menu2-background-color;
        font-weight: bold;
        font-size: 30px;
        h1 {
            font-family: "Arial";
            @include dégradé-menu2;
        }
    }
    &.menu3 {
        @include box-shadow-menu;
        color: $menu3-text-color;
        background-color: $menu3-background-color;
        font-weight: bold;
        font-size: 30px;
        p {
            font-family: "Segoe Print";
        }
        h1 {
            @include dégradé-menu3;
        }
    }
    &.menu4 {
        @include box-shadow-menu;
        color: $menu4-text-color;
        background-color: $menu4-background-color;
        font-weight: bold;
        font-size: 30px;
        p {
            font-family: "Segoe Print";
        }
        h1 {
            @include dégradé-menu4;
        }
    }
}

.prochainement {
    width: 400px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    margin: auto;
    margin-bottom: 50px;
}

.zoom {
    opacity: 1;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.2);
        opacity: 0.65;
    }
}
