@charset "UTF-8";
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes wiggle {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@-webkit-keyframes suspension {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes suspension {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.menu {
  -webkit-box-shadow: 6px 6px 6px lightgrey, -6px -6px 6px lightgrey;
          box-shadow: 6px 6px 6px lightgrey, -6px -6px 6px lightgrey;
  max-width: 500px;
  margin: auto;
  margin-bottom: 50px;
  padding-top: 25px;
  max-height: 650px;
  padding-bottom: 50px;
}

h1,
h2,
h3 {
  text-align: center;
}

table,
h3 {
  margin: auto;
  font-size: 10px;
  padding-left: 5%;
  padding-right: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 550px;
  margin-bottom: 20px;
}

h2 {
  font-size: 25px;
  padding-top: 10px;
}

td {
  padding-bottom: 5px;
}

table {
  width: 450px;
}

.prix {
  font-weight: bold;
  text-align: right;
}

.divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.divider:before, .divider:after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.line {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: auto;
}

.line:before, .line:after {
  height: 1px;
  margin: 0 1em;
}

.one-line:before, .one-line:after {
  background: black;
}

.underline {
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(5%, black), color-stop(5.01%, transparent)) no-repeat;
  background: linear-gradient(to top, black 0%, black 5%, transparent 5.01%) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size 300ms;
  transition: background-size 300ms;
}

.underline:hover {
  background-size: 100% 100%;
}

.la_note_enchantée h2 {
  font-family: "Segoe Script", cursive;
  margin-top: 5px;
}

.la_note_enchantée .bas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px;
}

.la_note_enchantée .logo1 {
  width: 50px;
  height: 50px;
}

.la_note_enchantée .logo {
  display: block;
  margin: auto;
  width: 75px;
  height: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: auto;
}

.la_note_enchantée table,
.la_note_enchantée h3 {
  font-family: "Segoe Print";
}

.la_note_enchantée .menu {
  background-color: #fcdfdb;
  max-height: none;
}

.le_chic .menu {
  background-color: #fff5fe;
  max-height: none;
}

.le_chic table,
.le_chic h3 {
  font-family: "Arial", cursive, serif;
  font-size: 15px;
}

.le_chic h2 {
  font-family: "Arial", sans-serif;
  background: -webkit-linear-gradient(45deg, #c77412 0%, #a56799 50%, #6e4ccc 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.le_chic .entrée {
  color: #c77412;
}

.le_chic .entrée .underline {
  background: -webkit-gradient(linear, left bottom, left top, from(#c77412), color-stop(5%, #c77412), color-stop(5.01%, transparent)) no-repeat;
  background: linear-gradient(to top, #c77412 0%, #c77412 5%, transparent 5.01%) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size 300ms;
  transition: background-size 300ms;
}

.le_chic .entrée .underline:hover {
  background-size: 100% 100%;
}

.le_chic .plat {
  color: #a56799;
}

.le_chic .plat .underline {
  background: -webkit-gradient(linear, left bottom, left top, from(#a56799), color-stop(5%, #a56799), color-stop(5.01%, transparent)) no-repeat;
  background: linear-gradient(to top, #a56799 0%, #a56799 5%, transparent 5.01%) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size 300ms;
  transition: background-size 300ms;
}

.le_chic .plat .underline:hover {
  background-size: 100% 100%;
}

.le_chic .dessert {
  color: #6e4ccc;
}

.le_chic .dessert .underline {
  background: -webkit-gradient(linear, left bottom, left top, from(#6e4ccc), color-stop(5%, #6e4ccc), color-stop(5.01%, transparent)) no-repeat;
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 5%, transparent 5.01%) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size 300ms;
  transition: background-size 300ms;
}

.le_chic .dessert .underline:hover {
  background-size: 100% 100%;
}

.le_délice .menu {
  background-color: #f9f9f9;
  max-height: none;
}

.le_délice h2 {
  background: -webkit-linear-gradient(0deg, #0887fb 0%, #c2dcf5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "IM Fell Double Pica", serif;
}

.le_délice table,
.le_délice h3 {
  font-family: "Segoe Print", cursive;
}

.la_palette .menu {
  background-color: #fdfffd;
  max-height: none;
}

.la_palette h2 {
  background: -webkit-linear-gradient(0deg, #72bf56 0%, #ddf5d4 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Courgette", cursive;
}

.la_palette table,
.la_palette h3 {
  font-family: "Segoe Print", cursive, sans-serif;
}

@media all and (max-width: 1024px) {
  .menu {
    width: 450px;
  }
}

@media all and (max-width: 540px) {
  .menu {
    width: 350px;
  }
  table {
    width: 250px;
  }
  td {
    max-width: 50px;
  }
}

body {
  margin: 0;
}

header,
footer,
.prochainement {
  background-color: #579c87;
  color: #fdcb46;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
  color: #fdcb46;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  font-size: 25px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

.mention {
  padding-left: 15px;
}

.Contact {
  padding-right: 15px;
}

.Contact,
.mention {
  padding-top: 5px;
}

.Contact:hover,
.mention:hover {
  -webkit-animation-name: wiggle;
          animation-name: wiggle;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
}

header {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  height: 100px;
  padding-top: 20px;
  margin: 0;
}

.menus {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
      grid-template-areas: "menu1 menu2" "menu3 menu4";
}

h1 {
  font-size: 30px;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 400px;
  height: 500px;
}

article.menu1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu1;
  -webkit-box-shadow: 6px 6px 6px lightgrey, -6px -6px 6px lightgrey;
          box-shadow: 6px 6px 6px lightgrey, -6px -6px 6px lightgrey;
  color: black;
  background-color: #fcdfdb;
  font-family: "Segoe Script", cursive;
  font-weight: bold;
  font-size: 30px;
}

article.menu1 img {
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;
  width: 50px;
  height: 50px;
}

article.menu1 p {
  font-family: "Segoe Print";
}

article.menu2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: menu2;
  -webkit-box-shadow: 6px 6px 6px lightgrey, -6px -6px 6px lightgrey;
          box-shadow: 6px 6px 6px lightgrey, -6px -6px 6px lightgrey;
  color: #c77412;
  background-color: #fff5fe;
  font-weight: bold;
  font-size: 30px;
}

article.menu2 h1 {
  font-family: "Arial";
  background: -webkit-linear-gradient(45deg, #c77412 0%, #a56799 50%, #6e4ccc 70%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

article.menu3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: menu3;
  -webkit-box-shadow: 6px 6px 6px lightgrey, -6px -6px 6px lightgrey;
          box-shadow: 6px 6px 6px lightgrey, -6px -6px 6px lightgrey;
  color: #0887fb;
  background-color: #f9f9f9;
  font-weight: bold;
  font-size: 30px;
  font-family: "IM Fell Double Pica", serif;
}

article.menu3 p {
  font-family: "Segoe Print";
}

article.menu3 h1 {
  background: -webkit-linear-gradient(0deg, #0887fb 0%, #c2dcf5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

article.menu4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: menu4;
  -webkit-box-shadow: 6px 6px 6px lightgrey, -6px -6px 6px lightgrey;
          box-shadow: 6px 6px 6px lightgrey, -6px -6px 6px lightgrey;
  color: #72bf56;
  background-color: #fdfffd;
  font-weight: bold;
  font-size: 30px;
  font-family: "Courgette", cursive;
}

article.menu4 p {
  font-family: "Segoe Print";
}

article.menu4 h1 {
  background: -webkit-linear-gradient(0deg, #72bf56 0%, #ddf5d4 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.premier,
.deuxieme,
.troisieme {
  opacity: 0;
}

.prochainement {
  width: 400px;
  height: 50px;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  margin: auto;
  margin-bottom: 100px;
}

.prochainement .premier,
.prochainement .deuxieme,
.prochainement .troisieme {
  -webkit-animation-name: suspension;
          animation-name: suspension;
  -webkit-animation-duration: 1.4s;
          animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.prochainement .deuxieme {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.prochainement .troisieme {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.zoom {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.zoom:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.5;
}

@media all and (max-width: 1024px) {
  .menus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-template-areas: "menu1" "menu2" "menu3" "menu4";
  }
}

@media all and (max-width: 540px) {
  article {
    max-width: 300px;
    height: 400px;
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 18px;
  }
  h1 {
    font-size: 23px;
  }
  .prochainement {
    width: 275px;
  }
}
/*# sourceMappingURL=style.css.map */