$color-primary: #579c87;
$color-text-primary: #fdcb46;
$menu1-background-color: #fcdfdb;
$menu1-text-color: black;
$menu2-background-color: #fff5fe;
$menu2-text-color: #c77412;
$entree-menu2-color: #c67412;
$plat-menu2-color: #a56799;
$dessert-menu2-color: #6e4ccc;
$menu3-background-color: #f9f9f9;
$menu3-text-color: #0887fb;
$menu3-titre-primary: #0887fb;
$menu3-titre-secondary: #89c2f7;
$menu4-background-color: #fdfffd;
$menu4-text-color: #72bf56;
$menu4-titre-primary: #72bf56;
$menu4-titre-secondary: #c1f5af;


@mixin box-shadow-menu {
    box-shadow: 6px 6px 6px lightgrey,
                -6px -6px 6px lightgrey;
}