.menu {
    @include box-shadow-menu;
    max-width: 600px;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 25px;
    max-height: 650px;
    padding-bottom: 50px;
}

h1,
h2,
h3 {
    text-align: center;
}

table, h3 {
    margin: auto;
    font-size: 10px;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    width: 550px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    padding-top: 10px;
}

td {
    padding-bottom: 5px;
    font-size: 15px;
}

table {
    width: 450px;
}

.prix {
    font-weight: bold;
    text-align: right;
}

.divider {
    display: flex;

    &:before,
    &:after {
        content: "";
        flex: 1;
    }
}

.line {
    align-items: center;
    margin: auto;
    width: auto;

    &:before,
    &:after {
        height: 5px;
        margin: 0 1em;
    }
}

.one-line {
    &:before,
    &:after {
        background: black;
    }
}

.underline {
    @include underline(black);
    font-size: 15px;
    padding-left: 0;
    padding-right: 0;
    flex: 0 0 35%;
}

.courses {
    display: flex;
    flex-direction: row;
}

.separateur {
    max-width: 20%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 0 0 25%;
}

.la_note_enchantée {
    h2 {
        font-family: "Segoe Script", cursive;
        margin-top: 5px;
    }

    .bas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;
    }

    .logo1 {
        width: 50px;
        height: 50px;
    }

    .logo {
        display: block;
        margin: auto;
        width: 75px;
        height: 75px;
        justify-content: center;
        margin-bottom: auto;
    }

    table,
    h3 {
        font-family: "Segoe Print";
    }

    .menu {
        background-color: $menu1-background-color;
        max-height: none;
    }
}

.le_chic {
    .menu {
        background-color: $menu2-background-color;
        max-height: none;
    }

    table,
    h3 {
        font-family: "Arial", cursive, serif;
        
    }

    h2 {
        font-family: "Arial", sans-serif;
        @include dégradé-menu2;
    }

    .entrée {
        color: $entree-menu2-color;
        .underline {
            @include underline($entree-menu2-color);
        }
    }
    .plat {
        color: $plat-menu2-color;
        .underline {
            @include underline($plat-menu2-color);
        }
    }
    .dessert {
        color: $dessert-menu2-color;

        .underline {
            @include underline($dessert-menu2-color);
        }
    }
}

.le_délice {
    .menu {
        background-color: $menu3-background-color;
        max-height: none;
    }

    h2 {
        @include dégradé-menu3;
        font-family: "IM Fell Double Pica", serif;
    }

    table,
    h3 {
        font-family: "Segoe Print", cursive;
    }
    .separateur {
        max-width: 20%;
    }
}

.la_palette {
    .menu {
        background-color: $menu4-background-color;
        max-height: none;
    }

    h2 {
        @include dégradé-menu4;
        font-family: "Courgette", cursive;
    }

    table,
    h3 {
        font-family: "Segoe Print", cursive, sans-serif;
    }
    .separateur {
        max-width: 20%;
    }
}

@media all and (max-width: 1024px) {
    .menu {
        width: 450px;
    }
    td {
        font-size: 14px;
    }
    .underline {
        font-size: 16px;
    }
}

@media all and (max-width: 540px) {
    .menu {
        width: 350px;
    }
    td {
        font-size: 11px;
    }
    .underline {
        font-size: 11px;
    }
    
    table {
        width: 100%;
    }    
}

